.ipynb_checkpoints
*.swo
*.swp
*so
build/
llm_course/FlagAlpha--Llama2-Chinese-7b-Chat/
llm_course/quantize/llama.cpp/
llm_course/triton_server/ft_workspace/
__pycache__
__MACOSX/
open-mmlab
huggingface
input
llm_course/train_server/ft_workspace
llm_course/train_st/version/output
llm_course/train_st/version/input
llm_course/train_st/version/Miniconda3-latest-Linux-x86_64.sh
llm_course/quantize/llama.cpp
llm_course/quantize/gptq_output
llm_course/quantize/gpml_output
llm_course/course_formal/version
llm_course/course_formal/input
llm_course/trl_version_sft/wandb
llm_course/FlagAlpha--Llama2-Chinese-7b-Chat
llm_course/trl_version_sft/output
.idea/
backup.ipynb

*pytorch_model.bin




